:root {
  --background: linear-gradient(20deg, #1e1e1e, #333333);
  --color: aliceblue;

  --titlebar-bg-color: #1e1e1e;
  --titlebar-text-color: #ffffff;
  --titlebar-shadow-color: #3a3a3a;

  --sidebar-bg-color: #1e1e1e;
  --sidebar-text-color: #ffffff;
  --sidebar-icon-hover: rgb(68, 68, 68);
  --sidebar-shadow-color: #3a3a3a;
  --sidebar-active-border: #595959;
  --sidebar-active-color: #434343;

  --panel-bg: #eeeeee11;

  --input-border: #ffffff3b;
  --input-active-border: #ffffff;
  --input-bg: #3a3a3a;
  --input-text: #ffffff;
}
